
.App
    position relative
    size 100%
    color white

.App-container
    position relative
    size 100%
    text-align center
    padding 90px 25px
    box-sizing border-box
    +above(rupture.scale[3])
        padding 90px 50px