
.App
    position relative
    size 100% 100vh
    background #000
    color white

.App-container
    position relative
    size 100%
    text-align center
    padding 50px
    h1
        position relative