.SearchBar
    position relative
    size 50% 50px
    border-bottom 1px solid white
    form
        size 100%

.SearchBar-form
    display flex
    align-items center
    justify-content space-between

.SearchBar-input
    size 80% 100%
    border 0
    box-sizing border-box
    background none
    outline 0
    color white
    margin-right 10px
    font-size 16px

.SearchBar-icon
    size 20px
    fill white